<p>
    <div class="ui mini input">
        <label>
            검색 :
            <input type="text" size="100" ng-model="filterStr" autocorrect="off" autocomplete="off" spellcheck="false">
        </label>
        &nbsp;
        <button ng:click="filterStr = ''" class="ui mini button">Clear</button>
    </div>
</p>

<table id="list" cellspacing="0" class="ui table striped sortable unstackable" sticky-table>
    <tbody>
        <tr ng-repeat="nendoroid in fullNendoroidList | orderBy:sortFunc:sortReverse | filter:filterStr">
            <td><img src='http{{nendoroid.photo_icon_src}}' /></td>
            <td>
                <p>{{nendoroid.num}} - {{nendoroid.name}}</p>
                <ul>
                    <li ng-repeat="product in nendoroid.products">
                        <p><a href="{{product.link}}" target="_blank">{{product.market.name}} - {{product.discounted_price}}</a></p>
                    </li>
            </td>
        </tr>
    </tbody>
</table>
